/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: 0.875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}

.nested-links a {
  overflow-wrap: break-word;
}

.logo-parent {
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navMobile {
  display: none;
}

.navMenu a,
.navMenu a:visited {
  color: white;
}

@media screen and (max-width: 768px) {
  .navMobileWrapper {
    position: relative;
  }

  .navMenu ul {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .navMenu li {
    display: block !important;
  }

  .navMobile {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    text-align: right;
  }

  .navMenu a,
  .navMenu a:visited {
    color: #111;
  }

  .navMenu {
    display: none;
    position: absolute;
    text-align: right;
    background-color: whitesmoke;
    color: #111;
    top: 2rem;
    right: 0.5rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  .navMenu.active {
    display: block;
  }

  .navMenu li {
    padding: 0.3rem 0;
  }
}
